html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Ame';
$primary: #7d1399;

@font-face {
    src: url('../fonts/Amienne_3448.ttf');
    font-family: 'Ame';
}

body {
  font-family: $primaryFont;
  line-height: 1.4;
  button{
    &:focus{
      outline: none;
    }
  }
}

body a {
  text-decoration: none;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.text-center{
  text-align: center !important;
}

.main-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

// .btn-dflt{
//   border: 1px solid $primary;
//   padding: 10px 40px;
// }

header{
    padding: 15px 0;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                &:last-child{
                    padding-left: 30px;
                }
                a{
                    display: block;
                    padding: 10px 25px;
                    color: #555;
                    letter-spacing: 1;
                    text-decoration: none;
                    font-weight: 300;
                }
            }
        }
    }
}

.banner{
    padding: 100px 0;
    overflow: hidden;
    .banner-content{
        display: flex;
        position: relative;
        .who-img{
            position: absolute;
            right: 0;
            bottom: 40px;
        }
    }
    .content{
        h1{
            font-size: 73px;
            line-height: 50px;
            color: #7d1399;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -4px;
        }
        h4{
            font-weight: 400;
            color: #000;
            font-size: 32px;
            text-transform: uppercase;
            line-height: 35px;
            letter-spacing: -1px;
        }
        h6{
            font-weight: 400;
            color: #000;
            font-size: 23px;
            text-transform: uppercase;
            line-height: 26px;
            letter-spacing: -1px;
        }
        span{
            font-family: $secondaryFont;
            font-size: 45px;
            color: $primary;
            display: block;
            text-align: center;
        }
        button{
          border: 1px solid $primary;
          padding: 10px 40px;
          border-radius: 30px;
          font-size: 16px;
          text-transform: uppercase;
          background: transparent;
          cursor: pointer;
          transition: all .3s;
          &:hover{
            background: $primary;
            color: #fff;
            transition: all .3s;
          }
        }
    }
    .img{
        max-width: 520px;
        position: relative;
        z-index: 1;
        left: -115px;
        img{
            width: 100%;
        }
    }
    .circles{
        position: absolute;
        right: 165px;
        top: -40px;
        .square{
            position: absolute;
            height: 375px;
            background: #fff;
            width: 90px;
            bottom: 0;
            left: 0;
        }
        .info{
            display: flex;
            position: absolute;
            align-items: center;
            width: 300px;
            height: 36px;
            &.info1{
                right: -161px;
                top: 5px;
            }
            &.info2{
                right: -265px;
                top: 115px;
            }
            &.info3{
                right: -278px;
                top: 235px;
            }
            .icon{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: red;
                margin-right: 15px;
                border-radius: 100%;
                i{
                    color: #fff;
                }
            }
        }
        .circle1{
            width: 430px;
            height: 430px;
            border: 1px dashed #555;
            border-radius: 100%;
            padding: 50px;
            .circle2{
                border: 1px dashed #555;
                border-radius: 100%;
                padding: 50px;
                width: 330px;
                height: 330px;
            }
            .circle3{
                border: 1px dashed #555;
                border-radius: 100%;
                width: 230px;
                height: 230px;
            }
        }
    }
}

.clensta-safe{
  padding: 50px 0;
  .content{
    display: flex;
    .img{
      max-width: 400px;
      img{
        width: 100%;
      }
    }
    .data{
      padding-left: 30px;
      .img-head{
        position: relative;
        display: inline-block;
        margin-top: 10px;
        span{
          font-family: $secondaryFont;
          font-size: 60px;
          position: relative;
          z-index: 1;
        }
        img{
          position: absolute;
          top: -7px;
          left: 17px;
        }
      }
      h4{
        font-size: 37px;
        line-height: 35px;
        color: $primary;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -25px;
        margin-bottom: 5px;
        span{
          font-size: 30px;
          font-weight: 400;
          color: #000;
        }
      }
      h3{
        font-size: 56px;
        line-height: 55px;
        color: #646464;
        font-weight: 700;
        text-transform: uppercase;
      }
      h5{
        font-size: 22px;
        line-height: 25px;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
      }
      p{
        font-size: 22px;
      }
    }
  }
}

.all-round-protection{
  padding: 60px 0 90px;
  background: url('../images/tiles.png') repeat-x scroll;
  .content{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .data{
      max-width: 500px;
      .quotes{
        width: 30px;
        margin-left: 5px;
      }
      h4{
        font-size: 35px;
        line-height: 35px;
        color: #646464;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h5{
        font-size: 25px;
        font-weight: 800;
        color: #000;
        line-height: 30px;
        margin-bottom: 5px;
      }
      p{
        font-size: 18px;
      }
    }
    .img{
      max-width: 500px;
      position: relative;
      img{
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .circles{
      position: absolute;
      left: -90px;
      top: -12px;
      // .square{
      //     position: absolute;
      //     height: 375px;
      //     background: #fff;
      //     width: 90px;
      //     bottom: 0;
      //     left: 0;
      // }
      .circle1{
        width: 400px;
        height: 400px;
        border: 1px dashed #555;
        border-radius: 100%;
        padding: 40px;
        .circle2{
            border: 1px dashed #555;
            border-radius: 100%;
            padding: 40px;
            width: 320px;
            height: 320px;
        }
        .circle3{
            border: 1px dashed #555;
            border-radius: 100%;
            width: 260px;
            height: 260px;
        }
      }
    }
  }
}

.other-features{
  padding: 60px 0;
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img{
      max-width: 500px;
      img{
        width: 100%;
      }
    }
    .data{
      max-width: 400px;
      h3{
        font-size: 35px;
        line-height: 35px;
        color: #3f3e3f;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .list{
        .item{
          display: flex;
          align-items: center;
          padding: 12px 0;
          img{
            width: 9px;
            margin-right: 17px;
            height: 14px;
          }
        }
      }

      .images{
        margin-top: 30px;
        display: flex;
        align-items: center;
        img{
          max-width: 90px;
          margin-right: 40px;
        }
      }
    }
  }
}