html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Ame';
$primary: #7d1399;

@font-face {
    src: url('../fonts/Amienne_3448.ttf');
    font-family: 'Ame';
}

body {
  font-family: $primaryFont;
  line-height: 1.4;
  button{
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
}

body a {
  text-decoration: none;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.text-center{
  text-align: center !important;
}

.btn-dflt{
  padding: 10px 40px;
  font-size: 14px;
  color: #555;
  border: 1px solid $primary;
  border-radius: 0;
  background-color: #fff;
  transition: all .3s;
  &:hover{
    background-color: $primary;
    color: #fff;
    transition: all .3s;
  }
}

.main-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

// .btn-dflt{
//   border: 1px solid $primary;
//   padding: 10px 40px;
// }

header{
    padding: 15px 0;
    background: #dfe8eb;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                &:last-child{
                    padding-left: 30px;
                }
                a{
                    display: block;
                    padding: 10px 25px;
                    color: #555;
                    letter-spacing: 1;
                    text-decoration: none;
                    font-weight: 300;
                }
            }
        }
    }
}

.banner{
    padding: 100px 0;
    overflow: hidden;
    background: linear-gradient(#dfe8eb, #fff);
    .banner-content{
        display: flex;
        position: relative;
        .who-img{
            position: absolute;
            right: 0;
            bottom: 40px;
        }
    }
    .content{
      position: relative;
      z-index: 1;
        h1{
            font-size: 73px;
            line-height: 50px;
            color: #7d1399;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -4px;
        }
        h4{
            font-weight: 400;
            color: #000;
            font-size: 32px;
            text-transform: uppercase;
            line-height: 35px;
            letter-spacing: -1px;
        }
        h6{
            font-weight: 400;
            color: #000;
            font-size: 23px;
            text-transform: uppercase;
            line-height: 26px;
            letter-spacing: -1px;
        }
        span{
            font-family: $secondaryFont;
            font-size: 45px;
            color: $primary;
            display: block;
            text-align: center;
        }
        button{
          border: 1px solid $primary;
          padding: 10px 40px;
          border-radius: 30px;
          font-size: 16px;
          text-transform: uppercase;
          background: transparent;
          cursor: pointer;
          transition: all .3s;
          &:hover{
            background: $primary;
            color: #fff;
            transition: all .3s;
          }
        }
    }
    .img{
        max-width: 520px;
        position: relative;
        z-index: 1;
        left: -115px;
        img{
            width: 100%;
        }
    }
    .circles{
        position: absolute;
        right: 165px;
        top: -40px;
        .square{
            position: absolute;
            height: 375px;
            background: linear-gradient(lighten(#dfe8eb, .7), #fff);
            width: 90px;
            bottom: 0;
            left: 0;
        }
        .info{
            display: flex;
            position: absolute;
            align-items: center;
            width: 300px;
            height: 36px;
            opacity: 0;
            // transition: all ease-in .6s;
            &.opacity{
              opacity: 1;
            }
            &.info1{
                right: -100px;top: 395px;opacity: 0;
                animation: mymove1 1s ease-in;
                &.animation1{
                  right: -161px;
                  top: 5px;
                  opacity: 1;
                }
            }
            &.info2{
                right: -100px;top: 395px;opacity: 0;
                animation: mymove2 0.7s ease-in 1.1s;
                &.animation2{
                  right: -265px;
                  top: 115px;
                  opacity: 1;
                }
            }
            &.info3{
                right: -100px;top: 395px;opacity: 0;
                animation: mymove3 0.5s ease-in 2s;
                &.animation3{
                  right: -278px;
                  top: 235px;
                  opacity: 1;
                }
            }
            .icon{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: red;
                margin-right: 15px;
                border-radius: 100%;
                i{
                    color: #fff;
                }
            }
        }
        .circle1{
            width: 430px;
            height: 430px;
            border: 1px dashed #555;
            border-radius: 100%;
            padding: 50px;
            .circle2{
                border: 1px dashed #555;
                border-radius: 100%;
                padding: 50px;
                width: 330px;
                height: 330px;
            }
            .circle3{
                border: 1px dashed #555;
                border-radius: 100%;
                width: 230px;
                height: 230px;
            }
        }
    }
}

.clensta-safe{
  padding: 50px 0;
  .content{
    display: flex;
    .img{
      max-width: 400px;
      img{
        width: 100%;
      }
    }
    .data{
      padding-left: 30px;
      .img-head{
        position: relative;
        display: inline-block;
        margin-top: 10px;
        span{
          font-family: $secondaryFont;
          font-size: 60px;
          position: relative;
          z-index: 1;
        }
        img{
          position: absolute;
          top: -7px;
          left: 17px;
        }
      }
      h4{
        font-size: 37px;
        line-height: 35px;
        color: $primary;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -25px;
        margin-bottom: 5px;
        span{
          font-size: 30px;
          font-weight: 400;
          color: #000;
        }
      }
      h3{
        font-size: 56px;
        line-height: 55px;
        color: #646464;
        font-weight: 700;
        text-transform: uppercase;
      }
      h5{
        font-size: 22px;
        line-height: 25px;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
      }
      p{
        font-size: 22px;
      }
    }
  }
}

.all-round-protection{
  padding: 60px 0 90px;
  background: url('../images/tiles.png') repeat-x scroll;
  .content{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .data{
      max-width: 500px;
      .quotes{
        width: 30px;
        margin-left: 5px;
      }
      h4{
        font-size: 35px;
        line-height: 35px;
        color: #646464;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h5{
        font-size: 25px;
        font-weight: 800;
        color: #000;
        line-height: 30px;
        margin-bottom: 5px;
      }
      p{
        font-size: 18px;
      }
    }
    .img{
      max-width: 500px;
      position: relative;
      img{
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .circles{
      position: absolute;
      left: -90px;
      top: -12px;
      // .square{
      //     position: absolute;
      //     height: 375px;
      //     background: #fff;
      //     width: 90px;
      //     bottom: 0;
      //     left: 0;
      // }
      .circle1{
        width: 400px;
        height: 400px;
        border: 1px dashed #555;
        border-radius: 100%;
        padding: 40px;
        background: #fff;
        box-shadow: 0 0 0 0 rgba($primary, 1);
        transform: scale(1);
        animation: pulse 2s infinite 1s;
        .circle2{
            border: 1px dashed #555;
            border-radius: 100%;
            padding: 40px;
            width: 320px;
            height: 320px;
            background: #fff;
            box-shadow: 0 0 0 0 rgba($primary, 1);
            transform: scale(1);
            animation: pulse 2s infinite 0.5s;
        }
        .circle3{
            border: 1px dashed #555;
            border-radius: 100%;
            width: 260px;
            height: 260px;
            background: #fff;
            box-shadow: 0 0 0 0 rgba($primary, 1);
            transform: scale(1);
            animation: pulse 2s infinite;
        }
      }
    }
  }
}

.other-features{
  padding: 60px 0;
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img{
      max-width: 500px;
      img{
        width: 100%;
      }
    }
    .data{
      max-width: 400px;
      h3{
        font-size: 35px;
        line-height: 35px;
        color: #3f3e3f;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .list{
        .item{
          display: flex;
          align-items: center;
          padding: 12px 0;
          img{
            width: 9px;
            margin-right: 17px;
            height: 14px;
          }
        }
      }

      .images{
        margin-top: 30px;
        display: flex;
        align-items: center;
        img{
          max-width: 90px;
          margin-right: 40px;
        }
      }
    }
  }
}

.mission-support{
  position: relative;
  background: linear-gradient(to right, #fff, #f2f2f2);
  padding: 80px 0 40px;
  overflow: hidden;
  .overlay-img{
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -60px;
  }
  .content{
    display: flex;
    position: relative;
    z-index: 1;
    .data{
      width: 45%;
      h2{
        font-size: 35px;
        line-height: 35px;
        color: #646464;
        font-weight: 700;
        text-transform: uppercase;
      }
      .images{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img{
          width: 28%;
          margin: 30px 2.5%;
        }
      }
    }
    .img{
      width: 55%;
      padding-left: 40px;
      text-align: center;
      p{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .video{
        iframe{
          width: 100%;
          height: 300px;
          box-shadow: 10px 10px 20px #555;
        }
      }
      h5{
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
      }
    }
  }
}

.media{
  padding: 80px 0 40px;
  overflow: hidden;
  .content{
    display: flex;
    .data{
      width: 35%;
      h2{
        font-size: 35px;
        line-height: 35px;
        color: #646464;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      .images{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 25px 0;
        .img-div{
          width: 50%;
          padding-right: 30px;
        }
      }
    }
    .img{
      width: 65%;
      padding-left: 40px;
      text-align: center;
      img{
        width: 100%;
      }
    }
  }
}

.products-container{
  background: linear-gradient(#fff, #f5f6f5);
  .products{
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    .leaf-left{
      width: 160px;
      position: absolute;
      top: 0;
      left: -70px;
    }
    .leaf-right{
      width: 160px;
      position: absolute;
      bottom: 0;
      right: -50px;
    }
    h2{
      font-size: 35px;
      line-height: 35px;
      color: #646464;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
      text-align: center;
    }
    .products-list{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .product{
        padding: 20px 0;
        width: 30%;
        .img{
          background: #f1f1f1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          margin-bottom: 10px;
          height: 250px;
          img{
            height: 100%;
          }
        }
        .product-content{
          text-align: center;
          button{
            width: 100%;
          }
          .name, .offer-price{
            font-size: 17px;
            line-height: 28px;
            color: #0b0b0b;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 7px;
          }
          .price{
            font-size: 14px;
            color: #888;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .social-handle{
    padding: 80px 0;
    .handle-list{
      display: flex;
      justify-content: space-between;
      .single-handle{
        padding: 35px 7px 7px;
        background: violet;
        width: 31.5%;
        border-radius: 4px;
        &.news{
          background: #01346d;
          .icon{
            border-color: #01346d;
            i{
              color: #01346d;
            }
          }
        }
        &.fb{
          background: #3577d1;
          .icon{
            border-color: #3577d1;
            i{
              color: #3577d1;
            }
          }
        }
        &.twitter{
          background: #13a8fe;
          .icon{
            border-color: #13a8fe;
            i{
              color: #13a8fe;
            }
          }
        }
        
        position: relative;
        .frame{
          height: 400px;
          overflow: auto;
          background: #fff;
        }
        .icon{
          width: 50px;
          height: 50px;
          border: 4px solid violet;
          background: #fff;
          position: absolute;
          left: calc(50% - 25px);
          top: -25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          i{
            color: violet;
            font-size: 20px;
          }
        }
      }
    }
  }
}

footer{
  padding: 80px 0 0;
  position: relative;
  overflow: hidden;
  .bg-img{
    position: absolute;
    left: -2%;
    bottom: 0px;
    width: 104%;
  }
  .footer-content{
    position: relative;
    z-index: 1;
    display: flex;
    padding-bottom: 40px;
    .left-sec{
      width: 40%;
      .logo{
        margin-bottom: 30px;
      }
      .contact-info{
        h3{
          text-transform: uppercase;
          color: #555;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .contact-details{
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          img{
            width: 60px;
            margin-right: 12px;
          }
          h5{
            font-size: 14px;
          }
          h4{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: $primary;
          }
        }

        .social{
          display: flex;
          align-items: center;
          a{
            display: block;
            margin-right: 30px;
            cursor: pointer;
            transition: all .3s;
            &:hover{
              transform: scale(1.4);
              transition: all .3s;
            }
          }
        }
      }
    }
    .right-sec{
      width: 60%;
      display: flex;
      justify-content: space-between;
      h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        color: #555;
      }
      ul{
        li{
          padding: 4px 0;
          a{
            color: #222;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }
    }
  }

  .copyright{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 2px solid #ccc;
    position: relative;
    align-items: center;
    z-index: 1;
    .bg-img{

    }
    .text{

    }
    .newsletter{
      display: flex;
      width: 55%;
      align-items: center;
      .label{
        width: 85px;
        color: #999;
        line-height: 1.2;
        font-size: 14px;
      }
      form{
        display: flex;
        width: calc(100% - 85px);
        input{
          height: 40px;
          width: 75%;
          border: 1px solid #ccc;
          padding: 10px 15px;
        }
        button{
          color: #fff;
          background: $primary;
          border: 1px solid $primary;
          width: 25%;
        }
      }
    }
  }
}

.header-sm, .sidenav{
  display: none;
}

.all-round-protection{
  overflow: hidden;
}

@media(max-width: 768px){
  header{
    display: none;
  }
  .header-sm{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dfe8eb;
    padding: 5px 15px;
    position: relative;
    z-index: 11;
    .logo{
      img{
        width: 40px;
      }
    }
    .bars{
      i{
        font-size: 24px;
      }
    }
    .search{
      font-size: 24px;
    }
  }
  .sidenav{
    display: block;
    position: fixed;
    left: -260px;
    top: 0;
    z-index: 9;
    padding: 70px 0 0 0;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    transition: all .3s;
    &.show{
      left: 0;
      transition: all .3s;
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        a{
          padding: 10px 15px;
          color: #000;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          &.active{
            background: $primary;
            color: #fff;
          }
        }
      }
    }
  }
  .products-container .products .products-list .product {
    position: relative;
    z-index: 1;
  }
  .other-features .content .data .list .item {
    padding: 6px 0;
  }
  .all-round-protection .content .circles .circle1 .circle3 {
    width: 240px;
    height: 240px;
  }
  .all-round-protection .content .data h4 {
    font-size: 28px;
    line-height: 30px;
  }
  .banner .content h4 {
    font-size: 30px;
  }
  .banner .content h6 {
    font-size: 21px;
  } 
}

@media(max-width: 600px){
  .products-container .social-handle .handle-list{
    flex-wrap: wrap;
    .single-handle{
      width: 100%;
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .products-container .products .products-list{
    flex-wrap: wrap;
    .product{
      width: 100%;
    }
  }

  .media .content, .mission-support .content{
    flex-wrap: wrap;
    .data{
      width: 100%;
    }
    .img{
      width: 100%;
      padding-left: 0;
      margin-top: 40px;
    }
  }

  .mission-support .overlay-img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .mission-support .content .data h2, .media .content .data h2, .other-features .content .data h3 {
    font-size: 27px;
    line-height: 30px;
  }

  .other-features .content .data {
    max-width: 100%;
  }

  .all-round-protection .content{
    flex-wrap: wrap;
    .data{
      width: 100%;
    }
    .img{
      width: 100%;
      margin-top: 40px;
    }
  }

  .clensta-safe .content{
    flex-wrap: wrap;
    .img{
      width: 100%;
      max-width: 100%;
    }
    .data{
      width: 100%;
      padding-left: 0;
    }
  }
  .clensta-safe .content .data h3 {
    font-size: 44px;
    line-height: 47px;
  }

  .banner .circles {
    position: static;
    .circle1, .square{
      display: none;
    }
    .info{
      position: static;
    }
  }

  .banner .banner-content{
    display: block;
    .content{
      text-align: center;
    }
  }
  .banner .content h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
  }
  .banner{
    padding: 30px 0;
  }
  .banner .img {
    margin-top: 40px;
    left: 0;
  }
  .banner .circles .info {
    justify-content: center;
    margin-bottom: 10px;
    &.info1{
      margin-top: 40px;
    }
  }
  .products-container .products .leaf-left {
    width: 70px;
    left: -15px;
  }
  .products-container .products .leaf-right {
    width: 80px;
    right: -10px;
  }
  .banner .banner-content .who-img {
    position: static;
    text-align: center;
    margin-top: 30px;
  }

  footer .footer-content{
    flex-wrap: wrap;
    .left-sec{
      width: 100%;
      text-align: center;
    }
  }

  footer .footer-content .left-sec .contact-info .contact-details{
    justify-content: center;
  }
  footer .footer-content .left-sec .contact-info .social{
    justify-content: center;
  }

  footer .footer-content .left-sec .contact-info .social a{
    margin: 0 15px 0 15px;
  }
  footer .footer-content .right-sec{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 40px;
    .quick-links:last-child{
      margin-top: 40px;
    }
  }
  footer .copyright{
    display: block;
    text-align: center;
  }
  footer .copyright .newsletter{
    display: block;
    width: 100%;
  }
  footer .copyright .newsletter .label, footer .copyright .newsletter form{
    width: 100%;
    margin-top: 10px;
  }
  .all-round-protection .content .circles .circle1 .circle3 {
    width: 240px;
    height: 240px;
  }
  .other-features .content{
    display: block;
    .img{
      margin-bottom: 40px;
    }
  }
} 

@keyframes mymove1 {
   0%  {right: -100px;top: 395px;opacity: 0;}
  10%  {right: -161px;top: 395px;opacity: 0;}
  20%  {right: -212px;top: 350px;opacity: 0.1;}
  30%  {right: -253px;top: 305px;opacity: 0.2;}
  40%  {right: -277px;top: 253px;opacity: 0.3;}
  50%  {right: -283px;top: 192px;opacity: 0.4;}
  60%  {right: -276px;top: 142px;opacity: 0.52;}
  70%  {right: -251px;top: 89px;opacity: 0.64;}
  80%  {right: -227px;top: 54px;opacity: 0.76;}
  90%  {right: -192px;top: 25px;opacity: 0.88;}
  100%  {right: -161px;top: 5px;opacity: 1;}
}

@keyframes mymove2 {
  0%  {right: -117px;top: 400px;opacity: 0;}
 20%  {right: -211px;top: 355px;opacity: 0.2;}
 40%  {right: -254px;top: 304px;opacity: 0.4;}
 60%  {right: -278px;top: 236px;opacity: 0.6;}
 80%  {right: -280px;top: 181px;opacity: 0.8;}
 100% {right: -265px;top: 115px;opacity: 1;}
}

@keyframes mymove3 {
  0%  {right: -117px;top: 400px;opacity: 0;}
 20%  {right: -150px;top: 385px;opacity: 0.2;}
 40%  {right: -190px;top: 370px;opacity: 0.4;}
 60%  {right: -230px;top: 335px;opacity: 0.6;}
 80%  {right: -260px;top: 295px;opacity: 0.8;}
 100% {right: -278px;top: 235px;;opacity: 1;}
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($primary, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 25px rgba($primary, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}