html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 150px;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

body a, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Laila", serif;
  letter-spacing: -1px;
}

body a {
  text-decoration: none;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.red {
  color: red;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

.heading .bar {
  width: 80px;
  position: relative;
  height: 4px;
  background: #D1A563;
}

.heading .bar::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -20px;
  bottom: 0px;
  border-radius: 100%;
  background-color: #D1A563;
}

.heading .bar::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -20px;
  border-radius: 100%;
  bottom: 0px;
  background-color: #D1A563;
}

.btn-dflt {
  background: #D1A563;
  color: #fff;
  padding: 10px 30px;
  font-weight: 300;
  letter-spacing: 1px;
  border: 1px solid #D1A563;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.btn-dflt:hover {
  background: #0A0A0A;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header {
  background-color: #fff;
  position: fixed;
  -webkit-transition: all .3s;
  transition: all .3s;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

header.sticky {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 2px #ccc;
          box-shadow: 1px 1px 2px #ccc;
  top: -105px;
}

header .top-header {
  padding: 15px;
  border-bottom: 1px solid #dfddd6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .top-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .top-header .content .info h6 {
  color: #000;
  font-weight: 600;
  width: 100%;
}

header .top-header .content .info .icon {
  width: 35px;
  height: 35px;
  border: 1px solid #D1A563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D1A563;
  margin-right: 10px;
  border-radius: 100%;
}

header .top-header .content .info span {
  color: #999;
  font-size: 14px;
}

header .top-header .content .logo img {
  max-width: 200px;
}

header .navigation {
  padding: 0 15px;
  text-align: center;
  background: #f8f6ee;
}

header .navigation ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

header .navigation ul li {
  display: inline-block;
}

header .navigation ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  padding: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .navigation ul li a.active {
  background: #D1A563;
  color: #fff;
}

header .navigation ul li a:hover {
  background: #0A0A0A;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-sm {
  display: none;
  z-index: 11;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px #ccc;
          box-shadow: 1px 1px 2px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-sm .bars .bar1 {
  height: 3px;
  width: 21px;
  background: #222;
  margin-bottom: 5px;
}

.header-sm .bars .bar2 {
  height: 3px;
  width: 14px;
  background: #222;
  margin-bottom: 5px;
}

.header-sm .bars .bar3 {
  height: 3px;
  width: 7px;
  background: #222;
}

.header-sm .logo img {
  max-width: 150px;
}

.header-sm .info-btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #222;
  color: #222;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidenav {
  position: fixed;
  z-index: 9;
  padding-top: 90px;
  background: #fff;
  height: 100vh;
  width: 250px;
  top: 0;
  left: -300px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidenav.show {
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav ul li a {
  padding: 12px 20px;
  display: block;
  color: #000;
}

.sidenav ul li a.active {
  background: #D1A563;
  color: #fff;
}

.banner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

.banner img.sm {
  display: none;
}

.banner .img-left {
  width: 200px;
  position: absolute;
  left: -70px;
  top: 100px;
}

.banner .img-right {
  width: 220px;
  position: absolute;
  right: -70px;
  top: 90px;
}

.icon-section {
  background: #000;
  padding: 80px 0;
  margin-top: -10px;
}

.icon-section .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-section .item .ico {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.icon-section .item .ico i {
  color: #fff;
  font-size: 75px;
}

.icon-section .block {
  /* Effect 9a */
}

.icon-section .block .hovicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 60px;
  cursor: pointer;
  margin: 0 30px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

.icon-section .block .hovicon span {
  font-size: 16px;
  margin-top: 25px;
}

.icon-section .block .hovicon img {
  width: 65%;
}

.icon-section .block .hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.icon-section .block .hovicon:before {
  speak: none;
  font-size: 75px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.icon-section .block .hovicon.effect {
  -webkit-transition: box-shadow 0.2s;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.icon-section .block .hovicon.effect:after {
  top: 0;
  left: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.icon-section .block .hovicon.effect.sub-a:hover:after {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}

.icon-section .block .hovicon.effect.sub-a:hover {
  -webkit-box-shadow: 0 0 0 10px #D1A563;
          box-shadow: 0 0 0 10px #D1A563;
  color: #fff;
}

.icon-section .block .hovicon.effect.sub-a:hover i {
  color: #fff;
}

.product-info {
  padding: 100px 0;
}

.product-info .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.product-info .product-container .product-sec {
  padding: 15px;
  width: 50%;
}

.product-info .product-container .product-sec .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info .product-container .product-sec .img img {
  width: 70%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.product-info .product-container .product-sec .img img:hover {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.product-info .product-container .product-sec .name {
  text-align: center;
  color: #0A0A0A;
  font-size: 30px;
  font-weight: 600;
  font-family: "Laila", serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.product-info .product-container .product-sec .read-more {
  text-align: center;
}

.product-info .product-container .product-sec .read-more a {
  color: #D1A563;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.parallax-section {
  background: url("../images/parallax.jpg") no-repeat fixed center center/cover;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax-section p {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 700px;
}

.about-us-sec {
  background: rgba(209, 165, 99, 0.1);
  padding: 80px 0;
}

.about-us-sec .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-sec .about-info .img {
  width: 50%;
  position: relative;
  padding-right: 20px;
}

.about-us-sec .about-info .img:hover img.back {
  opacity: 1;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;
}

.about-us-sec .about-info .img:hover img.front {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.about-us-sec .about-info .img img {
  width: 80%;
  border: 10px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about-us-sec .about-info .img img.back {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about-us-sec .about-info .img img.front {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about-us-sec .about-info .content {
  width: 50%;
  padding-left: 20px;
}

.about-us-sec .about-info .content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.about-us-sec .about-info .content p:last-child {
  margin-bottom: 0;
}

.about-page .about-sec .industry-info {
  padding: 80px 0;
}

.about-page .about-sec .industry-info .info-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page .about-sec .industry-info .info-sec p {
  width: 60%;
  padding-right: 60px;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: justify;
}

.about-page .about-sec .industry-info .info-sec img {
  width: 40%;
}

.about-page .about-sec .about-company {
  line-height: 1.4;
  padding: 80px 0;
  background: #f8f6ee;
}

.about-page .about-sec .about-company .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-page .about-sec .about-company .about-info ul {
  list-style-type: disc;
}

.about-page .about-sec .about-company .about-info ul li {
  padding: 8px 0;
}

.about-page .about-sec .about-company .about-info .history {
  width: 50%;
  padding-right: 15px;
}

.about-page .about-sec .about-company .about-info .history .brief-history {
  margin-bottom: 50px;
}

.about-page .about-sec .about-company .about-info .key-highlights {
  width: 50%;
  padding-left: 15px;
}

.countries {
  padding: 80px 0;
}

.countries ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries ul li {
  padding: 15px 20px;
}

.countries ul li img {
  width: 100px;
  height: 60px;
  border: 1px solid #ddd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.countries ul li img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner-sm {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/common.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/common.jpg") no-repeat fixed center center/cover;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-sm h1 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.manufacturing .banner-sm {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/manufacturing_bg.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/manufacturing_bg.jpg") no-repeat fixed center center/cover;
}

.manufacturing .process {
  padding: 80px 0;
}

.manufacturing .process p {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 50px;
}

.manufacturing .process img {
  width: 100%;
}

.manufacturing .manufacturing-facilities {
  padding: 80px 0;
  background: #f8f6ee;
}

.manufacturing .manufacturing-facilities.alt {
  background: #fff;
}

.manufacturing .manufacturing-facilities.alt .facility {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.manufacturing .manufacturing-facilities.alt .facility .img {
  padding-left: 0;
  padding-right: 50px;
}

.manufacturing .manufacturing-facilities .facility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manufacturing .manufacturing-facilities .facility .content {
  width: 55%;
}

.manufacturing .manufacturing-facilities .facility .content h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 800;
}

.manufacturing .manufacturing-facilities .facility .content p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 50px;
}

.manufacturing .manufacturing-facilities .facility .content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.manufacturing .manufacturing-facilities .facility .content ul li {
  padding: 8px 0;
}

.manufacturing .manufacturing-facilities .facility .img {
  padding-left: 50px;
  width: 45%;
}

.manufacturing .manufacturing-facilities .facility .img img {
  width: 100%;
}

.products {
  overflow: hidden;
}

.products .product-listing {
  padding: 100px 0;
}

.products .product-listing.alt {
  background: #f8f6ee;
}

.products .product-listing.alt .product {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.products .product-listing.alt .product .details {
  padding-right: 0;
  padding-left: 50px;
}

.products .product-listing.alt .product .image:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products .product-listing.alt .product .image:hover img.front {
  left: -120%;
  right: auto;
}

.products .product-listing.alt .product .image img.front {
  position: relative;
  left: 15%;
  width: 70%;
}

.products .product-listing .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .product-listing .product .details {
  padding-right: 50px;
  width: 50%;
  text-align: center;
}

.products .product-listing .product .details .about-product {
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
}

.products .product-listing .product .details .about-product p {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.products .product-listing .product .details .ingredients {
  padding-top: 40px;
}

.products .product-listing .product .details .ingredients h4 {
  font-size: 20px;
  margin-bottom: 40px;
}

.products .product-listing .product .details .ingredients ul {
  list-style-type: disc;
}

.products .product-listing .product .details .ingredients ul li {
  padding: 10px 20px;
  color: #888;
  display: inline-block;
  list-style-type: disc;
  font-size: 14px;
}

.products .product-listing .product .image {
  width: 50%;
  min-height: 500px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products .product-listing .product .image:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products .product-listing .product .image:hover img.front {
  right: -120%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: all .7s;
  transition: all .7s;
  opacity: 0;
}

.products .product-listing .product .image:hover img.back {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.products .product-listing .product .image img.back {
  opacity: 0;
  -webkit-transform: scale(0.4) rotate(45deg);
          transform: scale(0.4) rotate(45deg);
  -webkit-transition: all .7s;
  transition: all .7s;
  width: 85%;
  margin-top: 100px;
  position: absolute;
  left: 7.5%;
  top: 0;
}

.products .product-listing .product .image img.front {
  position: relative;
  right: -15%;
  top: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .7s;
  transition: all .7s;
  width: 70%;
  opacity: 1;
}

.contact-page .contact-form {
  background: #f8f6ee;
  padding: 100px 0;
}

.contact-page .contact-form form {
  width: 55%;
}

.contact-page .contact-form form .input-div {
  margin-bottom: 20px;
}

.contact-page .contact-form form .input-div input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.contact-page .contact-form form .input-div .err {
  font-size: 12px;
  color: red;
}

.contact-page .contact-form form .input-div textarea {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-page .contact-form .contact-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
}

.contact-page .contact-form .contact-details {
  width: 45%;
  padding-right: 50px;
}

.contact-page .contact-form .contact-details .item {
  margin-bottom: 30px;
}

.contact-page .contact-form .contact-details .item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact-page .contact-form .contact-details .item p {
  color: #888;
}

.contact-page .contact-form .contact-details .social {
  margin-top: 35px;
}

.contact-page .contact-form .contact-details .social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-page .contact-form .contact-details .social ul li {
  display: inline-block;
}

.contact-page .contact-form .contact-details .social ul li a {
  padding: 10px 15px;
  color: #D1A563;
  font-size: 24px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.contact-page .contact-form .contact-details .social ul li a:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mapouter {
  height: 500px;
  width: 100%;
}

.mapouter .gmap_canvas {
  height: 100%;
  width: 100%;
}

.mapouter .gmap_canvas iframe {
  height: 100%;
  width: 100%;
}

footer {
  background: #212121;
  padding: 100px 0 0 0;
  color: #fff;
  text-align: center;
}

footer .logo {
  margin-bottom: 35px;
}

footer .logo img {
  width: 200px;
}

footer .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

footer .contact-info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

footer .contact-info .item .icon {
  width: 35px;
  height: 35px;
  color: #D1A563;
  border: 1px solid #D1A563;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

footer .copyright {
  padding: 35px 20px;
  background: #000;
  margin-top: 50px;
}

footer .address p {
  margin-bottom: 10px;
}

footer .social {
  margin-top: 35px;
}

footer .social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .social ul li {
  display: inline-block;
}

footer .social ul li a {
  padding: 10px 15px;
  color: #D1A563;
  font-size: 24px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

footer .social ul li a:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  .header-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    display: none;
  }
  .sidenav {
    display: block;
  }
  .about-us-sec .about-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us-sec .about-info .img {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .about-us-sec .about-info .img img {
    width: 70%;
  }
  .about-us-sec .about-info .img img.front {
    left: 12%;
  }
  .about-us-sec .about-info .content {
    width: 100%;
  }
  .about-us-sec .about-info .content p {
    text-align: center;
    font-size: 18px;
  }
  .icon-section .block .hovicon {
    width: 180px;
    height: 180px;
  }
  .icon-section .block .hovicon span {
    font-size: 14px;
    margin-top: 14px;
  }
  .about-page .about-sec .industry-info .info-sec p {
    font-size: 18px;
    line-height: 1.5;
    padding-right: 20px;
  }
  .about-page .about-sec .about-company .about-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-page .about-sec .about-company .about-info .history {
    width: 100%;
    padding-right: 0;
  }
  .about-page .about-sec .about-company .about-info .history ul {
    padding-left: 20px;
  }
  .about-page .about-sec .about-company .about-info .key-highlights {
    width: 100%;
    padding-left: 20px;
    margin-top: 60px;
  }
  .heading h2 {
    font-size: 27px;
  }
  .products .product-listing .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .products .product-listing.alt .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .products .product-listing .product .image {
    margin-bottom: 60px;
    width: 100%;
  }
  .products .product-listing .product .details {
    padding-right: 0;
    width: 100%;
  }
  .products .product-listing.alt .product .details {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .icon-section .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .icon-section .item .block {
    margin: 20px;
  }
  .product-info .product-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-info .product-container .product-sec {
    width: 100%;
  }
  .about-us-sec .about-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us-sec .about-info .img {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .about-us-sec .about-info .img img {
    width: 70%;
  }
  .about-us-sec .about-info .img img.front {
    left: 12%;
  }
  .about-us-sec .about-info .content {
    width: 100%;
  }
  .about-us-sec .about-info .content p {
    text-align: center;
    font-size: 14px;
  }
  footer .contact-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .contact-info .item {
    margin: 10px 0;
  }
  .about-us-sec .about-info .img {
    padding-right: 0;
  }
  .about-us-sec .about-info .content {
    padding-left: 0;
  }
  .contact-page .contact-sec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-page .contact-sec .contact-details {
    width: 100%;
  }
  .contact-page .contact-sec form {
    width: 100%;
    margin-top: 50px;
  }
  .parallax-section {
    background: url("../images/parallax_mb.jpg") no-repeat fixed center center/cover;
    height: 500px;
  }
  .heading h2 {
    font-size: 22px;
  }
  .about-page .about-sec .industry-info .info-sec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-page .about-sec .industry-info .info-sec p {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .about-page .about-sec .industry-info .info-sec img {
    width: 100%;
  }
  .countries ul li {
    padding: 10px 10px;
  }
  .banner img {
    display: none;
  }
  .banner img.sm {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */